trigger: none

pool: dev-agent-001
  
stages:
- stage: build
  jobs:
  - job: build
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/Dev'
        backendServiceArm: 'bittubhaiya_service_connection'
        backendAzureRmStorageAccountName: 'testrg0002storageaccount'
        backendAzureRmContainerName: 'backendcontainer'
        backendAzureRmKey: 'dev.terraform.tfstate'

    