trigger: none


pool: dev-agent-001
  
stages:
- stage: build
  jobs:
  - job: build
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environment/Dev'
        backendAzureRmStorageAccountName: 'testrg0001storageaccount'
        backendAzureRmContainerName: 'backendcontainer'
        backendAzureRmKey: 'auto.tfstate'
