
trigger: none
pool: agent-dev-001  
stages:
  - stage: build
    jobs:
      - job: buildjob
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/Dev'
            backendServiceArm: 'devserviceconnection001'
            backendAzureRmStorageAccountName: 'testrg0001storageaccount'
            backendAzureRmContainerName: 'backendcontainer'
            backendAzureRmKey: 'dev.terraform.tfstate'
        
    
